<section
  class="hero flex flex-col justify-center items-center text-center w-full min-h-screen"
>
  <video src="{{ asset('videos/gradient.webm') }}" autoplay muted loop></video>
  <h1
    class="absolute flex flex-col text-9xl font-bold bg-bk w-full h-full justify-center mix-blend-screen"
  >
    <span>Personalize</span>
    <span>Your desktop</span>
    <span>Your throne</span>
  </h1>

  <a
    href="{{ path('login') }}"
    class="absolute bottom-20 bg-gray-light p-4 px-6 rounded-full font-semibold"
  >
    To Login
  </a>
</section>
