{% extends 'base.html.twig' %} {% block title %}Hello AwardController!{%
endblock %} {% block body %}
<section
  class="min-h-screen minw-sxreen flex justify-center items-center text-6xl font-semibold"
>
  <h1>Coming soon..</h1>
</section>

{% endblock %}
